// COLORS
$color-primary: #0f0d1e;
$color-light-primary: #d7d3f8;
$color-tertiary: #322b5f;
$color-fourth: #5b35d5;
$color-secondary: #1b1734;
$color-white: #ffffff;
$color-black: #000000;
$color-title-text: #23203c;
$color-body-text: #d1d0cf;
$color-body-bg: #141414;
$color-bg1: #191919;
$color-body-border: #393750;
$color-gold: #e6c75f;
$color-black: #000000;
$color-form-gradient-color: rgba(11, 1, 2, 0);
$color-to-gradient-color: rgba(255, 55, 65, 0.3);
