*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  header {
    .hamburger {
      color: white;
    }
    position: sticky;
    top: 0;
    background-color: $color-primary;
    z-index: 1000000;
    .panther-icon {
      a {
        img {
          min-width: 90%;
        }
      }
    }
    .custom-hamburger-menu {
      ul {
        li {
          padding: 15px;
        }
      }
      background-color: $color-secondary;
      .btns .button {
        padding: 12px 24px;
        border: 2px solid #322b5f;
        color: #fff;
        font-weight: 300;
        white-space: nowrap;
        border-radius: 8px;
      }
    }
    .navbar-list {
      .nav-ul {
        .how-it-work {
          // position: relative;
          .how-it-work-elements {
            display: none;
            position: absolute;
            top: 80%;
            border: 1px solid #dedcee;
            border-radius: 8px;
            background-color: #fff;
            color: black;
            padding: 5 10px;
            width: 200px;
            li {
              color: black;
            }
          }
        }
        .resources {
          // position: relative;
          .resources-elements {
            .ml-5:hover a {
              color: #5b35d5;
            }
            b {
              color: black;
            }
            a {
              b {
                li {
                  color: black;
                }
              }
            }
            font-size: 15px;
            overflow-y: scroll;
            position: absolute;
            // z-index: 0;
            top: 130%;
            border: 1px solid #dedcee;
            width: 330px;
            background-color: #fff;
            color: black;
            max-height: 85vh;
            border-radius: 8px;

            a {
              color: #222;
              padding-left: 15px;
            }
          }
        }
      }
      .navbar-list-item {
        padding: 10px 20px;
      }
      & .nav-ul li {
        color: white;
        padding: 10px;
        cursor: pointer;
      }
      & .nav-ul .navbar:hover {
        background-color: $color-secondary;
        border: 1px;
        border-radius: 3px;
      }
      .button {
        border: 1px solid $color-tertiary;
        border-radius: 5px;
        margin-left: 5px;
        min-width: min-content;
        white-space: nowrap;
      }

      .book {
        background-color: #5b35d4;
        min-width: min-content;
        white-space: nowrap;
      }
      .navbar-list-item:hover {
        background-color: $color-secondary;
      }
    }
  }

  main {
    .first-employee-part {
      background-color: #ebeaf5;
      padding: 80px 60px;
      .remote_emp {
        width: 70%;
        margin: auto;
      }
      h1 {
        position: static;
        bottom: 16px;
        margin-bottom: 24px;
        color: #0f0d1e;
        font-size: 50px;
        line-height: 120%;
        font-weight: 600;
        text-align: left;
        align-self: flex-start;
        @media screen and (max-width: 992px) {
          font-size: 30px;
        }
      }
      .empty-div {
        P {
          border-radius: 4px;
          background-color: #5b35d5;
          font-family: Rajdhani, sans-serif;
          font-size: 18px;
          font-weight: 400;
          color: white;
          padding: 5px;
          margin-bottom: 30px;
          text-align: center;
        }
      }
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 16px;
      }
    }

    .second-employee-part {
      background-color: white;
      padding: 30px;
      .info-content {
        margin-left: 15%;
        p {
          color: black;
          @media screen and (max-width: 350px) {
            font-size: 15px;
          }
        }
      }
      .employee-content {
        width: 70%;
        margin: auto;
        @media screen and (max-width: 350px) {
          width: 80%;
        }
      }

      a {
        color: #5b35d5;
        font-weight: 500;
      }
      img {
        width: 56px;
        height: 56px;
        max-width: none;
        border-radius: 50px;
        margin-right: 10px;
      }
      p {
        color: #5b557f;
        font-size: 18px;
        font-weight: 400;
      }
      hr {
        width: 70%;
        margin: 3% auto;
        @media screen and (max-width: 350px) {
          width: 82%;
        }
      }
      ul {
        list-style-type: disc;
        margin-left: 30px;
        margin-top: 15px;
        li {
          color: #5b557f;
          font-size: 18px;
          font-weight: 400;
        }
      }
      h2 {
        margin-top: 48px;
        color: #322b5f;
        font-weight: 600;
        font-size: 32px;
        line-height: 36px;
      }
    }
  }

  .footer {
    background-color: $color-primary;
    // img {
    //   width: 50%;
    // }
    padding: 6.5rem 0;
    .company {
      padding-left: 3rem;
    }
    h2 {
      margin-bottom: 1rem;
      font-family: Rajdhani, sans-serif;
      color: #adaabf;
      font-size: 18px;
      line-height: 1.5;
      font-weight: 500;
      text-align: left;
      letter-spacing: 1.5p0x;
      text-transform: uppercase;
    }
    ul li {
      margin-bottom: 1rem;
      font-size: 16px;
      line-height: 150%;
      font-weight: 300;
    }
    .legal .input-form {
      padding-left: 2rem;
      .text-field {
        height: 48px;
        margin-bottom: 16px;
        border-radius: 4px;
        color: #0f0d1e;
        font-size: 17px;
        font-weight: 400;
        background-color: #fff;
        padding: 8px 12px;
      }
    }
    p {
      color: #adaabf;
      margin-bottom: 2rem;
    }
    h2 {
      margin-bottom: 1rem;
      font-family: Rajdhani, sans-serif;
      color: #adaabf;
      font-size: 18px;
      line-height: 1.5;
      font-weight: 500;
      text-align: left;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }
    .copyright {
      padding-top: 4rem;
    }

    .icons img {
      margin-left: 2rem;
      width: 30px;
      height: 30px;
    }
  }
}
