*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.list {
  font-size: 40px;
}
body {
  background-color: $color-primary;
  header {
    position: sticky;
    top: 0;
    background-color: $color-primary;
    z-index: 1000000;
    .panther-icon {
      a {
        img {
          min-width: 90%;
        }
      }
    }
    .custom-hamburger-menu {
      .how-it-work-hamburger {
        color: white;
      }
      .resources-hamburger {
        color: white;
      }
      .resources-hamburger-elements {
        li {
          color: white;
        }
      }
      ul {
        li {
          padding: 15px;
        }
      }
      background-color: $color-secondary;
      .btns .button {
        padding: 12px 24px;
        border: 2px solid #322b5f;
        color: #fff;
        font-weight: 300;
        white-space: nowrap;
        border-radius: 8px;
      }
    }
    .navbar-list {
      .nav-ul {
        .how-it-work {
          // position: relative;
          .how-it-work-elements {
            display: none;
            position: absolute;
            top: 80%;
            border: 1px solid #dedcee;
            border-radius: 8px;
            background-color: #fff;
            color: black;
            padding: 5 10px;
            width: 200px;
            li {
              color: black;
            }
          }
        }
        .resources {
          // position: relative;
          .resources-elements {
            .ml-5:hover a {
              color: #5b35d5;
            }
            b {
              color: black;
            }
            a {
              b {
                li {
                  color: black;
                }
              }
            }
            font-size: 15px;
            overflow-y: scroll;
            position: absolute;
            // z-index: 0;
            top: 130%;
            border: 1px solid #dedcee;
            width: 330px;
            background-color: #fff;
            color: black;
            max-height: 85vh;
            border-radius: 8px;

            a {
              color: #222;
              padding-left: 15px;
            }
          }
        }
      }
      .navbar-list-item {
        padding: 10px 20px;
      }
      & .nav-ul li {
        color: white;
        padding: 10px;
        cursor: pointer;
      }
      & .nav-ul .navbar:hover {
        background-color: $color-secondary;
        border: 1px;
        border-radius: 3px;
      }
      .button {
        border: 1px solid $color-tertiary;
        border-radius: 5px;
        margin-left: 5px;
        min-width: min-content;
        white-space: nowrap;
      }

      .book {
        background-color: #5b35d4;
        min-width: min-content;
        white-space: nowrap;
      }
      .navbar-list-item:hover {
        background-color: $color-secondary;
      }
    }
  }

  main .first-part {
    background-color: $color-primary;
    padding: 120px 0;
    & h1 {
      margin-bottom: 30px;
      font-weight: 600;
      font-size: 2.76rem;
      color: white;
    }
    & p {
      margin-bottom: 40px;
      color: #adaabf;
    }
    & .image-trust {
      height: 40px;
      margin-right: 24px;
      opacity: 0.5;
    }
    .employees {
      width: 100%;
    }
    .videotag {
      position: absolute;
      left: 20%;
      right: 0;
      top: 40%;
      bottom: 0;
      background-color: rgba(134, 125, 243, 0.88);
      display: flex;
      width: 80px;
      height: 80px;
      margin-right: auto;
      margin-left: auto;
      padding: 20px;
      border: 0 transparent;
      border-radius: 100px;
      // z-index: 2;
      &:hover {
        padding: 24px;
        border-color: #867df3;
        background-color: #5b35d5;
        color: #867df3;
      }
    }

    .book {
      border: 1px solid $color-tertiary;
      background-color: #5b35d4;
      border-radius: 5px;
      margin-left: 5px;
      padding: 10px 20px;
    }
    .images {
      margin-top: 1rem;
    }
    .trusted {
      margin-top: 6rem;
      color: #adaabf;
    }
  }
  main .second-part {
    background-color: $color-secondary;
    //padding: 140px 80px;
    @media screen and (max-width: 500px) {
      .second-container {
        padding: 0 5px;
        .employing h2 {
          font-size: 20px;
          //padding: 10px;
          line-height: 150%;
          font-weight: 600;
          width: 200px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
h2 {
  width: 62%;
  font-weight: 600;
  font-size: 2rem;
  line-height: 140%;
  color: white;
}
p {
  color: white;
}
.second-container {
  padding: 80px 60px;
  background-color: #5b35d5;
  border: 1px;
  border-radius: 10px;
  margin-top: 7rem;

  & h2 {
    width: 70%;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 130%;
  }
  & img {
    width: 90%;
    margin: 0 auto;
    display: inline-block;
  }

  @media screen and (max-width: 490px) {
    .one-platform {
      height: 70vh;
    }
    & h2,
    p {
      font-size: 16px;
      margin: 0 auto;
      font-weight: 400;
      line-height: 140%;
      //width: 100px !important;
    }
  }
  @media screen and (max-width: 500px) {
    .equity-img img {
      width: 200px !important;
      height: 200px !important;
    }
  }
}

.third-part {
  background-color: $color-primary;
  padding: 80px;
  @media screen and (max-width: 993px) {
    padding: 5px 5px;
  }

  & .feature-box {
    padding: 7.5rem 4rem;
    border: 1px;
    background-color: $color-secondary;
    border-radius: 10px;
    margin-bottom: 4rem;

    & a {
      display: flex;
      display: inline-block;
      padding: 10px 16px;
      border: 1px solid white;
      border-radius: 5px;
      margin-top: 20px;
      @media screen and (max-width: 992px) {
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
      }
      & .arrow-button {
        float: right;
      }
    }
    & .right-pic {
      width: 100%;
    }
    & .second-p {
      color: #adaabf;
      font-size: 18px;
      font-weight: 300;
    }
    & p {
      margin-top: 20px;
      &.hire-anyone {
        font-family: Rajdhani, sans-serif;
        color: #ff9a83;
      }
      &.auto-pilot {
        font-family: Rajdhani, sans-serif;
        color: #00d8be;
      }
      &.global-payroll {
        font-family: Rajdhani, sans-serif;
        color: #f18c33;
      }
      &.global-benefits {
        font-family: Rajdhani, sans-serif;
        color: #33abd1;
      }
    }

    & h2 {
      margin-top: 20px;
      line-height: 140%;
      font-weight: 600;
      text-align: left;
    }
  }
}
.fourth-part {
  background-color: $color-secondary;
  padding: 8.5rem 4rem;
  @media screen and (max-width: 993px) {
    padding: 10px 5px;
  }

  & .onboard {
    margin-bottom: 5rem;
    & h3 {
      margin-bottom: 1rem;
      font-size: 1.25rem;
      line-height: 150%;
      font-weight: 400;
      color: white;
    }
  }

  & p {
    max-width: 80%;
    font-size: 1rem;
    color: #adaabf;
  }
  .container-header {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;

    & h1 {
      font-size: 48px;
      line-height: 120%;
      font-weight: 600;
      max-width: 540px;
      text-align: center;
      color: white;
      @media screen and (max-width: 479px) {
        font-size: 32px;
      }
    }
  }
  & .section-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & .lastboard {
    margin-bottom: 10rem;
    & h3 {
      margin-bottom: 1rem;
      font-size: 1.25rem;
      line-height: 150%;
      font-weight: 400;
      color: white;
    }
    @media screen and (max-width: 992px) {
      margin-bottom: 2rem;
    }
  }
}
.fifth-part {
  background-color: #5b35d5;
  padding: 8.5rem 4rem;
  @media screen and (max-width: 992px) {
    padding: 10px 5px;
  }
  h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    width: 100%;
    @media screen and (max-width: 490px) {
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
      font-size: 20px;
      text-align: center;
    }
  }
  .personal-datas {
    justify-content: space-evenly;
    align-items: center;
    margin: auto;

    .personal-information {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      opacity: 0.6;
      border-color: transparent;
      border-style: none none solid;
      cursor: pointer;
      .personal-images {
        img {
          width: 60px;
          @media screen and (max-width: 490px) {
            width: 30px;
            margin-right: 0;
          }
        }
        margin-right: 10px;
        a {
          @media screen and (max-width: 992px) {
            display: flex;
            flex-direction: column;
          }
        }
        .personal-texts p {
          @media screen and (max-width: 510px) {
            font-size: 12px;
          }
        }
      }
      &.active {
        display: block;
        opacity: 1;
        border-bottom-color: red;
      }
    }
  }
  .testimonial-content {
    position: relative;
    display: none;
    width: 80%;
    background-color: white;
    border: 1px;
    border-radius: 16px;
    padding: 80px 120px;
    @media screen and (max-width: 992px) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      padding: 10px 10px;
      width: 100%;
    }
    &.active {
      display: block;
    }

    .testimonial-content-first-item {
      line-height: 170%;
      color: black;
      font-size: 24px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 16px;
      width: 100%;
    }
    .testimonial-content-first-item-element {
      color: #5b35d5;
      font-size: 18px;
      text-align: center;
      line-height: 150%;
    }
  }
}

.mini-section {
  background-color: $color-primary;
  padding: 8.5rem 4rem;
  @media screen and (max-width: 992px) {
    padding: 3rem 1rem;
  }
  h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5rem;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
  & .section-button {
    display: flex;
    justify-content: center;
    align-items: center;
    & a {
      @media screen and (max-width: 500px) {
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.last-section {
  background-color: $color-secondary;
  //padding: 8.5rem 4rem;
  h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5rem;
  }
  .images {
    cursor: pointer;
    transition: transform 0.2s;
    .card-body {
      background-color: $color-primary;
      padding: 15px;
      width: 100%;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      height: 70%;
      .card-title {
        color: white;
      }
      .date-part {
        padding-left: 20px;
        color: #adaabf;
      }
    }
    img {
      width: 100%;
      height: 40%;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
    h5 {
      margin-bottom: 24px;
      line-height: 150%;
      font-weight: 500;
      padding-right: 32px;
      padding-left: 15px;
      text-align: left;
      width: 90%;
      font-size: 20px;
    }
    p {
      font-weight: 300;
      padding-left: 20px;
      text-align: left;
      width: 80%;
      font-size: 16px;
      color: #adaabf;
      margin-bottom: 20px;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
  .section-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
  }
}
.footer {
  background-color: $color-primary;
  img {
    width: 100%;
  }
  padding: 6.5rem 0;
  .company {
    padding-left: 3rem;
  }
  h2 {
    margin-bottom: 1rem;
    font-family: Rajdhani, sans-serif;
    color: #adaabf;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    text-align: left;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  ul li {
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 150%;
    font-weight: 300;
  }
  .legal .input-form {
    padding-left: 2rem;
    .text-field {
      height: 48px;
      margin-bottom: 16px;
      border-radius: 4px;
      color: #0f0d1e;
      font-size: 17px;
      font-weight: 400;
      background-color: #fff;
      padding: 8px 12px;
    }
  }
  p {
    color: #adaabf;
    margin-bottom: 2rem;
  }
  h2 {
    margin-bottom: 1rem;
    font-family: Rajdhani, sans-serif;
    color: #adaabf;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    text-align: left;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  .copyright {
    padding-top: 4rem;
  }
  p {
    font-size: 16px;
    color: #adaabf;
  }
  .icons img {
    margin-left: 2rem;
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 500px) {
  body main .second-part {
    padding: 10px 80px;
  }
}

@media screen and (max-width: 1260px) {
  .nav-ul {
    li {
      font-size: 13px;
    }
  }
  .button-primary {
    margin-left: 10px;
  }
}
@media screen and (max-width: 480px) {
  .first-part .button {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  .navbar-list {
    display: none !important;
  }
  .hamburger {
    display: block !important;
  }
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;

  iframe {
    width: 90%;
    max-width: 800px;
    transform: scale(0);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    outline: none;
    transition: all 0.3s;
  }
}
.show {
  pointer-events: all;
  opacity: 1;
  iframe {
    transform: scale(1);
  }
}
.close {
  position: absolute;
  top: 20%;
  right: 25px;
  font-size: 20px;
  cursor: pointer;
}
