*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.list {
  font-size: 40px;
}
body {
  header {
    position: sticky;
    top: 0;
    background-color: $color-primary;
    z-index: 1000000;
    .panther-icon {
      a {
        img {
          min-width: 90%;
        }
      }
    }
    .custom-hamburger-menu {
      .how-it-work-hamburger {
        color: white;
      }
      .resources-hamburger {
        color: white;
      }
      .resources-hamburger-elements {
        li {
          color: white;
        }
      }
      ul {
        li {
          padding: 15px;
        }
      }
      background-color: $color-secondary;
      .btns .button {
        padding: 12px 24px;
        border: 2px solid #322b5f;
        color: #fff;
        font-weight: 300;
        white-space: nowrap;
        border-radius: 8px;
      }
    }
    .navbar-list {
      .nav-ul {
        .how-it-work {
          // position: relative;
          .how-it-work-elements {
            display: none;
            position: absolute;
            top: 80%;
            border: 1px solid #dedcee;
            border-radius: 8px;
            background-color: #fff;
            color: black;
            padding: 5 10px;
            width: 200px;
            li {
              color: black;
            }
          }
        }
        .resources {
          // position: relative;
          .resources-elements {
            .ml-5:hover a {
              color: #5b35d5;
            }
            b {
              color: black;
            }
            a {
              b {
                li {
                  color: black;
                }
              }
            }
            font-size: 15px;
            overflow-y: scroll;
            position: absolute;
            // z-index: 0;
            top: 130%;
            border: 1px solid #dedcee;
            width: 330px;
            background-color: #fff;
            color: black;
            max-height: 85vh;
            border-radius: 8px;

            a {
              color: #222;
              padding-left: 15px;
            }
          }
        }
      }
      .navbar-list-item {
        padding: 10px 20px;
      }
      & .nav-ul li {
        color: white;
        padding: 10px;
        cursor: pointer;
      }
      & .nav-ul .navbar:hover {
        background-color: $color-secondary;
        border: 1px;
        border-radius: 3px;
      }
      .button {
        border: 1px solid $color-tertiary;
        border-radius: 5px;
        margin-left: 5px;
        min-width: min-content;
        white-space: nowrap;
      }

      .book {
        background-color: #5b35d4;
        min-width: min-content;
        white-space: nowrap;
      }
      .navbar-list-item:hover {
        background-color: $color-secondary;
      }
    }
  }

  main {
    .first-remote-section {
      background-color: $color-primary;
      margin-bottom: 50px;

      h1 {
        color: #fff;
        font-size: 45px;
        line-height: 55px;
        font-weight: 600;
      }
      p {
        color: #adaabf;
        font-size: 18px;
        line-height: 24px;
        font-weight: 300;
      }
      .contact {
        border: 1px solid white;
        background-color: $color-primary;
        margin-left: 30px;
        &:hover {
          background-color: green;
        }
      }
    }

    .second-remote-section {
      background-color: $color-secondary;
      padding: 60px 40px;
      h5 {
        margin-bottom: 40px;
        padding: 4px 12px;
        border-radius: 4px;
        background-color: rgba(91, 53, 213, 0.2);
        letter-spacing: 0.6px;
        text-transform: uppercase;
        color: white;
        width: 17%;
        font-size: 14px;
        line-height: 25px;
        font-weight: 400;
      }
      .testimonials-menu {
        h3 {
          color: #fff;
          font-size: 33px;
          line-height: 40px;
          font-weight: 600;
          text-align: left;
        }

        p {
          font-size: 14px;
          line-height: 20px;
          color: #fff;
        }
      }
    }
    .third-remote-section {
      background-color: $color-primary;
      padding: 60px 40px;
      margin: 0 auto;

      h5 {
        margin-bottom: 40px;
        padding: 4px 12px;
        border-radius: 4px;
        background-color: rgba(91, 53, 213, 0.2);
        letter-spacing: 0.6px;
        text-transform: uppercase;
        color: white;
        width: 20%;
        font-size: 14px;
        line-height: 25px;
        font-weight: 400;
      }
      h1 {
        font-size: 30px;
        line-height: 40px;
        font-weight: 600;
        text-align: left;
        color: white;
      }
      p {
        font-size: 18spx;
        line-height: 20px;
        color: #fff;
        margin-left: 15px;
      }
    }

    .fourth-remote-section {
      padding: 80px 40px;
      margin: 0 auto;
      background-color: $color-secondary;
      h1 {
        font-size: 30px;
        line-height: 40px;
        font-weight: 600;
        text-align: left;
        color: white;
      }
      p {
        font-size: 18spx;
        line-height: 20px;
        color: #fff;
        margin-left: 15px;
      }
      .contact-btn {
        background-color: $color-primary;
        border: 1px solid white;
        padding: 16px 32px;
        color: #fff;
        font-size: 16px;
        text-align: center;
      }
      .latest-news {
        margin-top: 120px;
        padding: 48px;
        border-radius: 16px;
        background-color: #5b35d5;
        .mini-span {
          border: 1px solid white;
          color: white;
          background-color: inherit;
          padding: 8px;
          border-radius: 5px;
        }
        h2 {
          font-size: 30px;
          line-height: 40px;
          margin-bottom: 20px;
          margin-top: 30px;
          color: #fff;
          width: 100%;
        }
        .read-btn {
          background-color: $color-primary;
          border: 1px solid transparent;
          padding: 16px 32px;
          color: #fff;
          font-size: 16px;
          text-align: center;
        }
      }
    }
    .fifth-remote-section {
      background-color: #5b35d5;
      padding: 8.5rem 4rem;
      @media screen and (max-width: 992px) {
        padding: 10px 5px;
      }
      h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
        width: 100%;
        @media screen and (max-width: 490px) {
          width: 70%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 2rem;
          font-size: 20px;
          text-align: center;
        }
      }
      .personal-datas {
        justify-content: space-evenly;
        align-items: center;
        margin: auto;

        .personal-information {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 15px;
          opacity: 0.6;
          border-color: transparent;
          border-style: none none solid;
          cursor: pointer;
          .personal-images {
            img {
              width: 60px;
              @media screen and (max-width: 490px) {
                width: 30px;
                margin-right: 0;
              }
            }
            margin-right: 10px;
            a {
              @media screen and (max-width: 992px) {
                display: flex;
                flex-direction: column;
              }
            }
            .personal-texts p {
              @media screen and (max-width: 510px) {
                font-size: 12px;
              }
            }
          }
          &.active {
            display: block;
            opacity: 1;
            border-bottom-color: red;
          }
        }
      }
      .testimonial-content {
        position: relative;
        display: none;
        width: 80%;
        background-color: white;
        border: 1px;
        border-radius: 16px;
        padding: 80px 120px;
        @media screen and (max-width: 992px) {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          padding: 10px 10px;
          width: 100%;
        }
        &.active {
          display: block;
        }

        .testimonial-content-first-item {
          line-height: 170%;
          color: black;
          font-size: 24px;
          font-weight: 300;
          text-align: center;
          margin-bottom: 16px;
          width: 100%;
        }
        .testimonial-content-first-item-element {
          color: #5b35d5;
          font-size: 18px;
          text-align: center;
          line-height: 150%;
        }
      }
    }
  }
}

.footer {
  background-color: $color-primary;
  img {
    width: 100%;
  }
  padding: 6.5rem 0;
  .company {
    padding-left: 3rem;
  }
  h2 {
    margin-bottom: 1rem;
    font-family: Rajdhani, sans-serif;
    color: #adaabf;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    text-align: left;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  ul li {
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 150%;
    font-weight: 300;
  }
  .legal .input-form {
    padding-left: 2rem;
    .text-field {
      height: 48px;
      margin-bottom: 16px;
      border-radius: 4px;
      color: #0f0d1e;
      font-size: 17px;
      font-weight: 400;
      background-color: #fff;
      padding: 8px 12px;
    }
  }
  p {
    color: #adaabf;
    margin-bottom: 2rem;
  }
  h2 {
    margin-bottom: 1rem;
    font-family: Rajdhani, sans-serif;
    color: #adaabf;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    text-align: left;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
  .copyright {
    padding-top: 4rem;
  }
  p {
    font-size: 16px;
    color: #adaabf;
  }
  .icons img {
    margin-left: 2rem;
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 1260px) {
  .nav-ul {
    li {
      font-size: 13px;
    }
  }
  .button-primary {
    margin-left: 10px;
  }
}
@media screen and (max-width: 992px) {
  .navbar-list {
    display: none !important;
  }
  .hamburger {
    display: block !important;
  }
}
